<template>
  <v-dialog v-model="dialog" max-width="960px" @click:outside="close">
    <template v-slot:activator="{ on, attrs }">
      <v-btn class="btn-primary" v-bind="attrs" v-on="on">
        <v-icon dense class="mr-md-2">mdi-plus</v-icon>
        <span>Ajouter</span>
      </v-btn>
    </template>

    <v-card>
      <validation-observer ref="observer" v-slot="{ invalid }">
        <v-container class="container-dialog-bb">
          <v-card-text class="px-0 px-md-5">
            <v-row>
              <v-col cols="12">
                <span class="body-1">Creez votre nouveau canal ici</span>
              </v-col>

              <v-col cols="12">
                <validation-provider
                  v-slot="{ errors }"
                  name="numéro de commande"
                  rules="required_if_not:coordinates"
                  vid="orderId"
                >
                  <v-text-field
                    v-model="editedItem.orderId"
                    class="required"
                    label="Numéro de commande"
                    hint="Numéro de commande"
                    persistent-hint
                    outlined
                    :error-messages="errors"
                  />
                </validation-provider>
              </v-col>

              <v-col cols="12">
                <validation-provider
                  v-slot="{ errors }"
                  name="longitude et latitude"
                  rules="required_if_not:orderId|coordinates"
                  vid="coordinates"
                >
                  <v-text-field
                    v-model="editedItem.coordinates"
                    class="required"
                    label="Longitude et latitude"
                    hint="Longitude et latitude séparé par une virgule. Exemple: -73.856, 40.848"
                    persistent-hint
                    outlined
                    :error-messages="errors"
                  />
                </validation-provider>
              </v-col>

              <v-col cols="12">
                <validation-provider v-slot="{ errors }" name="commentaire" rules="required">
                  <v-textarea
                    v-model="editedItem.comment"
                    class="required"
                    label="Commentaire"
                    hint="Ajoutez ici votre commentaire"
                    persistent-hint
                    outlined
                    :error-messages="errors"
                  />
                </validation-provider>
              </v-col>
            </v-row>
          </v-card-text>

          <v-card-actions class="d-flex justify-md-end px-0">
            <v-btn large class="btn-secondary mr-md-6" @click="close">Annuler</v-btn>
            <v-btn
              large
              class="btn-primary ml-0 mt-3 mt-md-0"
              :loading="saving"
              :disabled="invalid"
              @click="save"
            >
              Enregistrer
            </v-btn>
          </v-card-actions>
        </v-container>
      </validation-observer>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'add-channel',
  async created() {
    this.editedItem = { ...this.defaultItem };
  },
  data() {
    return {
      dialog: false,
      editedItem: {},
      defaultItem: {
        orderId: '',
        coordinates: '',
        comment: '',
      },
      saving: false,
    };
  },
  computed: {
    ...mapState({
      userId: (state) => state.authentication.userId,
    }),
  },
  methods: {
    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = { ...this.defaultItem };
        this.$refs.observer.reset();
      });
    },

    async save() {
      let coordinates;
      if (this.editedItem.coordinates) {
        coordinates = this.editedItem.coordinates.split(',');
        coordinates[0] = Number(coordinates[0].trim());
        coordinates[1] = Number(coordinates[1].trim());
      }
      await this.$store.dispatch('channels/updateOne', {
        userId: this.userId,
        orderId: this.editedItem.orderId,
        coordinates,
        comments: [this.editedItem.comment],
      });
    },
  },
};
</script>
