<template>
  <v-container>
    <v-card>
      <v-card-title>Channels</v-card-title>
      <v-card-text>
        <v-row>
          <v-col cols="9">
            <v-autocomplete
              label="Selectionnez le canal"
              :value="currentChannel"
              :items="channels"
              :item-value="(channel) => channel"
              :item-text="
                ({ userId, orderId, georeferenceId}) =>
                  `${userId} - ${orderId} ${coordinatesToString(georeferenceId)}`
              "
              outlined
              @change="changeChannel"
            />
          </v-col>
          <v-col cols="3">
            <add-channel />
          </v-col>

          <v-col cols="12" v-for="(comment, index) of currentChannel.comments" :key="index">
            <v-card>
              <v-card-text>{{ comment }}</v-card-text>
            </v-card>
          </v-col>

          <v-col cols="12">
            <h6 class="text-h4 my-3">Ajoutez un commentaire</h6>

            <validation-observer ref="observer" v-slot="{ invalid }">
              <validation-provider v-slot="{ errors }" name="commentaire" rules="required">
                <v-textarea
                  v-model="comment"
                  class="required"
                  label="Commentaire"
                  hint="Ajoutez ici votre commentaire"
                  persistent-hint
                  outlined
                  :error-messages="errors"
                />
              </validation-provider>

              <v-card-actions class="d-flex justify-md-end px-0">
                <v-btn
                  large
                  class="btn-primary ml-0 mt-3 mt-md-0"
                  :loading="saving"
                  :disabled="invalid"
                  @click="save"
                >
                  Enregistrer
                </v-btn>
              </v-card-actions>
            </validation-observer>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'channels',
  created() {
    this.$store.dispatch('channels/fetchAll');
  },
  data() {
    return {
      comment: '',
      saving: false,
    };
  },
  computed: {
    ...mapState({
      channels: (state) => state.channels.all,
    }),
    currentChannel() {
      return this.$store.getters['channels/current'] || {};
    },
  },
  methods: {
    coordinatesToString(georeferenceId) {
      if (!georeferenceId) return '';
      const { coordinates } = georeferenceId;
      return `(${coordinates[0]}, ${coordinates[1]})`;
    },

    changeChannel(channel) {
      this.$store.dispatch('channels/setCurrent', channel);
    },

    async save() {
      try {
        await this.$store.dispatch('channels/updateOne', {
          userId: this.currentChannel.userId,
          orderId: this.currentChannel.orderId,
          coordinates: this.currentChannel.georeferenceId.coordinates,
          comments: [this.comment],
        });
        this.$store.dispatch('snackbar/success', 'Commentaire envoyé');
        this.comment = '';
        this.$refs.observer.reset();
      } catch (error) {
        this.$store.dispatch('snackbar/defaultError');
      }
    },
  },
  components: {
    AddChannel: () => import('./AddChannel.vue'),
  },
};
</script>
