<template>
  <v-snackbar v-model="open" :color="color">
    {{ message }}
    <template v-slot:action="{ attrs }">
      <v-btn color="#fffff" text v-bind="attrs" @click="open = false">
        Fermer
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script>
export default {
  name: 'app-snackbar',
  computed: {
    open: {
      get() {
        return this.$store.state.snackbar.open;
      },
      set(bool) {
        this.$store.commit('snackbar/SET_OPEN', bool);
      },
    },
    message() {
      return this.$store.state.snackbar.message;
    },
    color() {
      return this.$store.state.snackbar.color;
    },
  },
};
</script>
