<template>
  <v-app>
    <v-app-bar app dense color="primary">
      <v-toolbar-title class="white--text">Comments frontend</v-toolbar-title>
    </v-app-bar>

    <v-navigation-drawer :value="true" color="black" :permanent="true" app dark>
      <v-list>
        <v-list-item link to="/channels">
          <v-list-item-icon>
            <v-icon>mdi-message-reply-text</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Channels</v-list-item-title>
        </v-list-item>

        <v-list-item link to="/admin" v-if="role === 'admin'">
          <v-list-item-icon>
            <v-icon>mdi-cog</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Admin</v-list-item-title>
        </v-list-item>
      </v-list>

      <template v-slot:append>
        <div class="py-2">
          <v-btn text block @click="disconnect">
            <v-icon class="mr-4">mdi-power</v-icon>
            Deconnexion
          </v-btn>
        </div>
      </template>
    </v-navigation-drawer>

    <v-main>
      <router-view></router-view>
      <c-app-snackbar />
    </v-main>
  </v-app>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'authenticated-layout',
  computed: {
    ...mapState({
      role: (state) => state.authentication.role,
    }),
  },
  methods: {
    disconnect() {
      this.$store.dispatch('authentication/reset');
      this.$router.push('/login');
    },
  },
  components: {
    CAppSnackbar: () => import('./AppSnackbar.vue'),
  },
};
</script>
