<template>
  <v-app>
    <v-main>
      <router-view></router-view>
      <c-app-snackbar />
    </v-main>
  </v-app>
</template>

<script>
export default {
  components: {
    CAppSnackbar: () => import('./AppSnackbar.vue'),
  },
};
</script>
