<template>
  <div>
    <validation-observer ref="observer" v-slot="{ invalid }">
      <v-container class="pa-3 pa-md-10">
        <h3 class="text-h3 text-center font-weight-bold mb-4">Se connecter</h3>

        <validation-provider v-slot="{ errors }" name="nom d'utilisateur" rules="required">
          <v-text-field
            label="Nom d'utilisateur"
            v-model="username"
            tabindex="1"
            class="required mb-4"
            hint="nom d'utilisateur"
            persistent-hint
            outlined
            :autofocus="true"
            :error-messages="errors"
          />
        </validation-provider>
        <validation-provider v-slot="{ errors, failed }" name="mot de passe" rules="required">
          <v-text-field
            label="Mot de passe"
            v-model="password"
            name="password"
            :type="show ? 'text' : 'password'"
            class="required mb-4"
            hint="mot de passe"
            persistent-hint
            outlined
            :error-messages="errors"
          >
            <v-icon slot="append" :color="failed ? 'red' : 'primary'" @click="show = !show">
              {{ show ? "mdi-eye-off" : "mdi-eye" }}
            </v-icon>
          </v-text-field>
        </validation-provider>

        <div class="text-center">
          <v-btn class="btn-primary mt-6" :disabled="invalid" @click="send">
            Connexion
          </v-btn>
        </div>
      </v-container>
    </validation-observer>
  </div>
</template>

<script>
export default {
  name: 'login',
  data() {
    return {
      username: '',
      password: '',
      show: false,
    };
  },
  methods: {
    async send() {
      try {
        await this.$store.dispatch('authentication/login', { username: this.username, password: this.password });
        this.$store.dispatch('snackbar/success', 'Vous êtes authentifié');
        this.$router.push('/channels');
      } catch (error) {
        this.$store.dispatch('snackbar/defaultError');
      }
    },
  },
};
</script>
