<template>
  <v-container class="mt-6">
    <div class="mb-6">
      <h4 class="text-h4">Panneau d'administration</h4>
    </div>

    <v-tabs v-model="tab">
      <v-tabs-slider></v-tabs-slider>
      <v-tab>Channels</v-tab>
      <v-tab>Utilisateurs</v-tab>
    </v-tabs>

    <v-divider class="mb-6"></v-divider>

    <v-tabs-items v-model="tab">
      <v-tab-item>
        <tab-channels />
      </v-tab-item>

      <v-tab-item>
        <tab-users />
      </v-tab-item>
    </v-tabs-items>
  </v-container>
</template>

<script>
export default {
  name: 'admin',
  data() {
    return {
      tab: 0,
    };
  },
  components: {
    tabChannels: () => import('./Channels.vue'),
    tabUsers: () => import('./Users.vue'),
  },
};
</script>
