<template>
  <v-card>
    <v-data-table :headers="headers" :items="channels" item-key="_id" :search="search">
      <template v-slot:top>
        <v-toolbar flat>
          <v-row>
            <v-col cols="12" md="auto">
              <v-toolbar-title class="text-h6 text-wrap mt-2 mt-md-0">
                Liste des channels
              </v-toolbar-title>
            </v-col>

            <v-spacer></v-spacer>

            <v-col cols="12" md="auto">
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="rechercher"
                single-line
                hide-details
              ></v-text-field>
            </v-col>
          </v-row>
        </v-toolbar>
      </template>

      <template v-slot:item.georeferenceId="{ item }">
        <span v-if="!item.georeferenceId || item.georeferenceId.coordinates.length === 0"></span>
        <span v-else>
          {{ item.georeferenceId.coordinates[0] }}, {{ item.georeferenceId.coordinates[1] }}
        </span>
      </template>

      <template v-slot:item.actions="{ item }">
        <v-tooltip top>
          <template v-slot:activator="{ on, attrs }">
            <v-icon medium color="secondary" v-bind="attrs" v-on="on" @click="deleteChannel(item)">
              mdi-delete
            </v-icon>
          </template>
          <span>Supprimer</span>
        </v-tooltip>
      </template>

      <template v-slot:no-data>
        <v-btn class="btn-primary" @click="fetchChannels"> Recharger </v-btn>
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'admin-tab-channels',
  created() {
    this.fetchChannels();
  },
  data() {
    return {
      search: '',
    };
  },
  computed: {
    ...mapState({
      channels: (state) => state.channels.all,
    }),
    headers() {
      return [
        { text: "identifiant de l'utilisateur", value: 'userId', align: 'start' },
        { text: 'numéro de commande', value: 'orderId' },
        { text: 'localisation', value: 'georeferenceId' },
        {
          text: 'actions',
          value: 'actions',
          align: 'end',
          sortable: false,
        },
      ];
    },
  },
  methods: {
    fetchChannels() {
      return this.$store.dispatch('channels/fetchAll');
    },

    async deleteChannel(channel) {
      try {
        await this.$store.dispatch('channels/deleteOne', channel._id);
        this.$store.dispatch('snackbar/success', 'Supprimé');
      } catch (error) {
        this.$store.dispatch('snackbar/defaultError');
      }
    },
  },
};
</script>
