<template>
  <v-card>
    <v-dialog v-model="dialog" max-width="960px" @click:outside="close">
      <template v-slot:activator="{ on, attrs }">
        <v-btn block v-bind="attrs" v-on="on">
          <v-icon dense class="mr-md-2">mdi-plus</v-icon>
          <span>Ajouter</span>
        </v-btn>
      </template>

      <v-card>
        <validation-observer ref="observer" v-slot="{ invalid }">
          <v-container class="container-dialog-bb">
            <v-card-text class="px-0 px-md-5">
              <v-row>
                <v-col cols="12">
                  <span class="body-1">Creez votre nouvel utilisateur</span>
                </v-col>

                <v-col cols="12">
                  <validation-provider
                    v-slot="{ errors }"
                    name="Nom d'utilisateur"
                    rules="required"
                  >
                    <v-text-field
                      v-model="editedItem.username"
                      class="required"
                      label="Nom d'utilisateur"
                      hint="Nom d'utilisateur"
                      persistent-hint
                      outlined
                      :error-messages="errors"
                    />
                  </validation-provider>
                </v-col>

                <template v-if="editedIndex > -1">
                  <v-col cols="12">
                    <v-select v-model="editedItem.role" :items="roles" label="Role" outlined />
                  </v-col>
                </template>

                <template v-else>
                  <v-col cols="12">
                    <validation-provider
                      v-slot="{ errors, failed }"
                      name="Mot de passe"
                      rules="required"
                      vid="password"
                    >
                      <v-text-field
                        label="Mot de passe"
                        v-model="editedItem.password"
                        name="password"
                        :type="showPassword ? 'text' : 'password'"
                        class="required mb-4"
                        hint="exemple: $tr0ngPa$$w0rd"
                        persistent-hint
                        outlined
                        :error-messages="errors"
                      >
                        <v-icon
                          slot="append"
                          :color="failed ? 'red' : 'primary'"
                          @click="showPassword = !showPassword"
                        >
                          {{ showPassword ? "mdi-eye-off" : "mdi-eye" }}
                        </v-icon>
                      </v-text-field>
                    </validation-provider>
                  </v-col>

                  <v-col cols="12">
                    <validation-provider
                      v-slot="{ errors }"
                      name="Confirmer le mot de passe"
                      rules="required|confirmed:password"
                    >
                      <v-text-field
                        label="Confirmer le mot de passe"
                        v-model="password2"
                        name="password"
                        type="password"
                        class="required mb-4"
                        hint="exemple: $tr0ngPa$$w0rd"
                        persistent-hint
                        outlined
                        :error-messages="errors"
                      />
                    </validation-provider>
                  </v-col>
                </template>
              </v-row>
            </v-card-text>

            <v-card-actions class="d-flex justify-md-end px-0">
              <v-btn large class="btn-secondary mr-md-6" @click="close">Annuler</v-btn>
              <v-btn
                large
                class="ml-0 mt-3 mt-md-0"
                :loading="saving"
                :disabled="invalid"
                @click="editedIndex === -1 ? createUser() : updateUser()"
              >
                Enregistrer
              </v-btn>
            </v-card-actions>
          </v-container>
        </validation-observer>
      </v-card>
    </v-dialog>

    <v-data-table :headers="headers" :items="users" item-key="_id" :search="search">
      <template v-slot:top>
        <v-toolbar flat>
          <v-row>
            <v-col cols="12" md="auto">
              <v-toolbar-title class="text-h6 text-wrap mt-2 mt-md-0">
                Liste des Utilisateurs
              </v-toolbar-title>
            </v-col>

            <v-spacer></v-spacer>

            <v-col cols="12" md="auto">
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="rechercher"
                single-line
                hide-details
              ></v-text-field>
            </v-col>
          </v-row>
        </v-toolbar>
      </template>

      <template v-slot:item.actions="{ item }">
        <v-tooltip top>
          <template v-slot:activator="{ on, attrs }">
            <v-icon medium class="mr-5" v-bind="attrs" v-on="on" @click="editUser(item)">
              mdi-pencil
            </v-icon>
          </template>
          <span>Modifier</span>
        </v-tooltip>

        <v-tooltip top>
          <template v-slot:activator="{ on, attrs }">
            <v-icon medium v-bind="attrs" v-on="on" @click="deleteUser(item)"> mdi-delete </v-icon>
          </template>
          <span>Supprimer</span>
        </v-tooltip>
      </template>

      <template v-slot:no-data>
        <v-btn @click="fetchUsers"> Recharger </v-btn>
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'admin-tab-users',
  created() {
    this.editedItem = { ...this.defaultItem };
    this.fetchUsers();
  },
  data() {
    return {
      dialog: false,
      search: '',
      showPassword: false,
      password2: '',
      editedIndex: -1,
      editedItem: {},
      defaultItem: {
        username: '',
        password: '',
        role: 'user',
      },
      saving: false,
      roles: ['admin', 'user'],
    };
  },
  computed: {
    ...mapState({
      users: (state) => state.users.all,
    }),
    headers() {
      return [
        { text: "nom de l'utilisateur", value: 'username', align: 'start' },
        { text: 'role', value: 'role' },
        {
          text: 'actions',
          value: 'actions',
          align: 'end',
          sortable: false,
        },
      ];
    },
  },
  methods: {
    fetchUsers() {
      return this.$store.dispatch('users/fetchAll');
    },

    editUser(user) {
      this.editedIndex = this.users.indexOf(user);
      this.editedItem = { ...user };
      this.dialog = true;
    },

    close() {
      this.dialog = false;
      this.editedIndex = -1;
      this.$nextTick(() => {
        this.editedItem = { ...this.defaultItem };
        this.$refs.observer.reset();
      });
    },

    async createUser() {
      try {
        await this.$store.dispatch('users/createOne', this.editedItem);
        this.$store.dispatch('snackbar/success', 'Utilisateur créé');
      } catch (error) {
        this.$store.dispatch('snackbar/defaultError');
      }
    },

    async updateUser() {
      try {
        await this.$store.dispatch('users/updateOne', this.editedItem);
        this.$store.dispatch('snackbar/success', 'Utilisateur mit à jour');
      } catch (error) {
        this.$store.dispatch('snackbar/defaultError');
      }
    },

    async deleteUser(user) {
      try {
        await this.$store.dispatch('users/deleteOne', user._id);
        this.$store.dispatch('snackbar/success', 'Utilisateur supprimé');
      } catch (error) {
        this.$store.dispatch('snackbar/defaultError');
      }
    },
  },
};
</script>
